@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AirCinel</title>
    <link rel="icon" href="https://aircinelmvc.blob.core.windows.net/resources/logoaircinel.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    @inject UserManager<AirCinelMVC.Data.Entities.User> UserManager

    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="https://aircinelmvc.blob.core.windows.net/resources/logoaircinelnavbar.png" alt="LogoAirCinel" width="auto" height="45" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        var user = await UserManager.FindByNameAsync(User.Identity.Name);

                        <li class="nav-item d-flex align-items-center text-dark">
                            @if (!string.IsNullOrEmpty(user?.ImageFullPath) && user.ImageFullPath != "https://aircinelmvc.azurewebsites.net/images/noimage.png")
                            {
                                <img src="@user.ImageFullPath" alt="Profile Picture" style="width: 35px; height: 35px; border-radius: 50%; margin-right: 10px;" />
                            }
                            Welcome, @user?.FullName
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home mr-1"></i>Home</a>
                    </li>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs mr-1" aria-hidden="true"></i>Admin</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index"><i class="fas fa-user-cog"></i>  Admin Panel</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Countries" asp-action="Index"><i class="fas fa-globe-europe"></i>  Countries/Cities</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Airports" asp-action="Index"><img src="https://aircinelmvc.blob.core.windows.net/resources/airport.ico" class="ml-0" height="18px" /> Airports</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Airplanes" asp-action="Index"><i class="fas fa-plane"></i>  Airplanes</a></li>
                            </ul>
                        </li>
                    }

                    @if (this.User.Identity.IsAuthenticated && !this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if(this.User.IsInRole("Customer"))
                                {
                                    <i class="fas fa-plane-departure mr-1"></i><text>Your Flights</text>
                                }
                                @if(this.User.IsInRole("Employee"))
                                {
                                    <i class="fas fa-plane-departure mr-1"></i><text>Flights</text>
                                }
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (this.User.IsInRole("Employee"))
                                {
                                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Index"><i class="fas fa-tasks"></i> Manage Flights</a></li>
                                }

                                @if (this.User.IsInRole("Employee") || !this.User.IsInRole("Customer"))
                                {
                                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="FlightHistory"><i class="fas fa-history"></i> Flights History</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="FlightCalendar"><i class="fas fa-calendar-alt"></i> Calendar</a></li>
                                }

                                @if (this.User.IsInRole("Customer"))
                                {
                                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="UserFlightHistory"><i class="fas fa-history"></i>  Flight History</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="UserUpcomingFlights"><i class="fas fa-history fa-flip-horizontal"></i> Next Flights</a></li>
                                }
                            </ul>
                        </li>


                    }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Customer"))
                    {
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="UserTickets"><i class="fas fa-ticket-alt"></i> Your Tickets</a></li>
                    }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
                    {
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="AllTickets"><i class="fas fa-ticket-alt"></i> All Tickets</a></li>
                    }                   


                </ul>

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fas fa-user-secret mr-1"></i>Privacy</a>
                    </li>

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="ChangeUser">
                                <span class="d-flex align-items-center">
                                    <i class="fas fa-user-circle mr-2"></i>
                                    Edit Account
                                </span>
                            </a>
                        </li>

                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="Logout">
                                <span class="d-flex align-items-center">
                                    <i class="fas fa-sign-out-alt mr-2"></i>
                                    Logout
                                </span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="Login">
                                <span class="d-flex align-items-center">
                                    <i class="fas fa-sign-in-alt mr-2"></i>
                                    Login
                                </span>
                            </a>
                        </li>
                    }
                </ul>

            </div>
        </nav>

    </header>
    <div class="container-fluid d-flex" style="min-height: 100vh;">
        <video id="bgVideo" autoplay loop muted preload="auto">
            <source src="https://aircinelmvc.blob.core.windows.net/resources/backgroundcompressed.mp4" type="video/mp4">
            Seu navegador não suporta vídeos em HTML5.
        </video>
        <main role="main" class="w-100 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center mt-6">
        <div class="container-fluid">

            &copy; 2024 - AirCinel – Developed by Nuno Salavessa Mota.

            <a href="https://www.linkedin.com/in/nunosalavessamota/" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            |
            <a href="https://github.com/SalavessaMota" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>

        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
