@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if(ViewBag.ErrorTitle == null)
{
    <h1 class="text-danger">!Error!</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h2 class="text-danger">@Html.Raw(ViewBag.ErrorMessage)</h2>
}


<div class="text-center">
    <a href="~/Home/index" class="btn btn-primary btn-lg mt-3"><i class="fas fa-home"></i> Return Home</a>
</div>


