@model AirCinelMVC.Models.AirplaneViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Airplane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Airplanes" />


            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" required/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            // Quando o utilizador muda o ManufacturerId
            $("#ManufacturerId").change(function () {
                $("#ModelId").empty(); // Limpa o dropdown de modelos

                // Chama AJAX para obter os modelos do fabricante selecionado
                $.ajax({
                    url: '@Url.Action("GetModelsAsync", "Airplanes")',
                    type: 'POST',
                    dataType: 'json',
                    data: { manufacturerId: $("#ManufacturerId").val() },
                    success: function (models) {
                        // Adiciona a opção default ao ModelId
                        $("#ModelId").append('<option value="0">(Select a model...)</option>');
                        // Preenche o dropdown com os modelos retornados
                        $.each(models, function (i, model) {
                            $("#ModelId").append('<option value="' + model.id + '">' + model.name + '</option>');
                        });

                        // Preenche o campo Manufacturer com o nome selecionado
                        var manufacturerName = $("#ManufacturerId option:selected").text();
                        $("#Manufacturer").val(manufacturerName); // Atualiza o campo hidden ou readonly
                    },
                    error: function (ex) {
                        alert('Failed to retrieve models.' + ex);
                    }
                });
                return false;
            });

            // Quando o utilizador seleciona um modelo
            $("#ModelId").change(function () {
                var modelName = $("#ModelId option:selected").text();
                $("#Model").val(modelName); // Preenche o campo Model com o nome do modelo
            });
        });
    </script>
}
