@model AirCinelMVC.Models.AirplaneViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4 offset-md-4">

        <h4>Create Airplane</h4>
        <hr />

        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Airplanes" />


            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" required accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary shadow-lg" />
                <a asp-action="Index" class="btn btn-success shadow-lg">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("#ManufacturerId").change(function () {
                var manufacturerId = $("#ManufacturerId").val();
                console.log("Manufacturer selected: " + manufacturerId);

                var manufacturerName = $("#ManufacturerId option:selected").text();
                $("#Manufacturer").val(manufacturerName);

                $("#ModelId").empty();
                $("#ModelId").append('<option value="0">(Select a model...)</option>');

                $.ajax({
                    url: '@Url.Action("GetModelsAsync", "Airplanes")',
                    type: 'POST',
                    dataType: 'json',
                    data: { manufacturerId: manufacturerId },
                    success: function (response) {
                        console.log("Response received: ", response);

                        if (response && response.length > 0) {
                            $.each(response, function (i, model) {
                                $("#ModelId").append('<option value="' + model.id + '">' + model.name + '</option>');
                            });
                        } else {
                            console.warn("No models found in the response.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error in AJAX request: ", error);
                    }
                });
            });

            $("#ModelId").change(function () {
                var modelName = $("#ModelId option:selected").text();
                $("#Model").val(modelName);
            });
        });
    </script>

}

