@{
    ViewData["Title"] = "AirCinel - Home";
    Layout = "_Layout";
}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css'>

<section class="slider text-shadow">
    <ul class="slides">
        <li>
            <img src="https://aircinelmvc.blob.core.windows.net/resources/lisbon.jpeg" alt="Lisbon Image">
            <div class="caption center-align text-outline">
                <h2>Welcome to AirCinel</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Soar high with the aviation experts in Lisbon.</h5>
            </div>
        </li>
        <li>
            <img src="https://aircinelmvc.blob.core.windows.net/resources/madrid.jpeg" alt="Madrid Image">
            <div class="caption left-align text-outline">
                <h2>What is your dream vacation destination?</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">We will take you there!</h5>
            </div>
        </li>
        <li>
            <img src="https://aircinelmvc.blob.core.windows.net/resources/paris.jpeg" alt="Paris Image">
            <div class="caption right-align text-outline">
                <h2>You can count on us!</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
            </div>
        </li>
    </ul>
</section>

<br />

<div class="container mb-3">
    <div class="row justify-content-between">
        <div class="col-sm-3 text-center">
            <a class="nav-link btn btn-primary" asp-action="Destinations">Destinations</a>
        </div>
        <div class="col-sm-3 text-center">
            <a class="nav-link btn btn-primary" asp-controller="Flights" asp-action="UpcomingFlights">Flights</a>
        </div>
        <div class="col-sm-3 text-center">
            <a class="nav-link btn btn-primary" asp-action="aboutus">About us</a>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems, {
            indicators: true, 
            height: 600,      
            interval: 5000,  
            duration: 500  
        });
    });
</script>
