@{
    ViewData["Title"] = "AirCinel - Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à AirCinel</h1>
    <p>Voe alto com os especialistas em aviação de Lisboa.</p>
</div>

<div class="container mt-5">
    <h2 class="font-weight-normal">Descubra Mais</h2>
    <p>Explore nossos destinos e ofertas especiais, e saiba como transformamos viagens aéreas com tecnologia e inovação.</p>
    
    @* <a class="btn btn-primary" href="@Url.Action("Destinations", "Home")">Nossos Destinos</a>
    <a class="btn btn-primary" href="@Url.Action("About", "Home")">Sobre Nós</a> *@

    <div class="btn btn-primary">Sobre Nós</div>

</div>

