@{
    ViewData["Title"] = "AirCinel - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AirCinel</h1>
    <p>Soar high with the aviation experts in Lisbon.</p>
</div>

<div class="container mt-5">
    <h2 class="font-weight-normal">Discover More</h2>
    <p>Explore our destinations and special offers, and learn how we are transforming air travel with technology and innovation.</p>

    @* <a class="btn btn-primary" href="@Url.Action("Destinations", "Home")">Our Destinations</a>
    <a class="btn btn-primary" href="@Url.Action("About", "Home")">About Us</a> *@

    <div class="btn btn-primary">About Us</div>
</div>
