@model AirCinelMVC.Data.Entities.Flight

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-8 offset-md-2">

    <h1>Edit Flight</h1>
    <hr />

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <partial name="_Flights" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary shadow-lg" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

