
@{
    ViewData["Title"] = "PastFlight";
}


<link rel="stylesheet" href="~/css/error404.css" />

<div class="wrapper">
    <div class="text_group">
        <p class="text_404">Error</p>
        <p class="text_lost">Sorry but that flight belongs in the past! <br /> Try to arrive earlier next time.</p>
    </div>
    <div class="window_group">
        <div class="window_404 shadow-lg">
            <div class="stars"></div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="~/Home/index" class="btn btn-primary btn-lg mt-3"><i class="fas fa-home shadow-lg"></i>  Return Home</a>
</div>


@section Scripts {
    <script src="~/js/error404.js"></script>
}