@model PurchaseTicketViewModel

<h2>Select a seat for Flight @Model.FlightId</h2>

<form asp-action="PurchaseTicket" method="post">
    <input type="hidden" asp-for="FlightId" />

    <div class="form-group">
        <label for="seat">Available Seats:</label>
        <select asp-for="SelectedSeat" class="form-control">
            @foreach (var seat in Model.AvailableSeats)
            {
                <option value="@seat">@seat</option>
            }
        </select>
    </div>

    <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Content("~/Home/Index")'">
        <i class="fas fa-home"></i> Return Home
    </button>

    <button type="submit" class="btn btn-primary"><i class="far fa-check-square"></i>  Confirm Seat Selection</button>
</form>
