@using AirCinelMVC.Data.Entities
@model IEnumerable<User>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<br />


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Manage Users</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped" id="MyTable">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.FullName</td>
                <td>
                    <a asp-action="EditUserRoles" asp-route-userEmail="@user.Email" class="btn btn-primary">Edit Roles</a>
                </td>
            </tr>
        }
    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<a href="~/Home/index" class="btn btn-primary btn-lg mt-3"><i class="fas fa-home"></i>  Return Home</a>

<a href="~/Admin/RegisterEmployee" class="btn btn-primary btn-lg mt-3">Register New Employee</a>

@* <a asp-action="RegisterEmployee" class="btn btn-success">Register New Employee</a> *@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}